.memory-game-container {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 6px #e1e1e1,
              0 0 8px #e2e2e2,
              0 0 10px #e3e3e3,
              0 0 12px #e5e5e5,
              0 0 14px #e6e6e6,
              0 0 16px #e7e7e7,
              0 0 18px #e8e8e8;

  .memory-game-card-list {
    text-align: center;
  }

  .memory-game-card-image {
    padding-top: 2%;
    padding-bottom: 2%;
    max-height: 100px;
  }

  .memory-game-card {
    width: 120px;
    height: auto;
    max-height: 100px;
    margin-right: 6px;
    margin-bottom: 6px;
  }

  @media (max-width: 770px) {
    .memory-game-card {
      width: 90px;
    }
  }

  .memory-game-lock-image {
    border-radius: 3px;
    transition: opacity 0.3s, box-shadow 0.3s;
  }

  .memory-game-lock-image:hover {
    box-shadow: 0 2px 5px gray;
    opacity: 0.7;
    cursor: pointer;
  }

  .memory-game-card-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    height: 80px;
    padding-top: 4%;
    padding-bottom: 4%;
    word-break: break-all;
  }

  .memory-game-play-again-container {
    text-align: center;
    display: none;
  }
}

