.shuffledAbc-container {
  position: relative;
  margin-bottom: 50px;
  user-select: none;
  width: 100%;
  min-height: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 0 6px #e1e1e1,
              0 0 8px #e2e2e2,
              0 0 10px #e3e3e3,
              0 0 12px #e5e5e5,
              0 0 14px #e6e6e6,
              0 0 16px #e7e7e7,
              0 0 18px #e8e8e8;

  .shuffled-abc-preview {
    height: 350px;
    img {
      max-width: 100%;
      max-height: 330px;
    }
  }
  .shuffled-abc-preview-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    height: 350px;
  }

  .shuffled-abc__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 100;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
    .correct-word {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-family: 'MuseoSans-300';
      text-transform: capitalize;
    }
  }

  .letter-holder-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    .letter-holder-list__item {
      height: 90px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 38px;
      margin-right: 20px;
      border-bottom: 5px solid rgba(0, 0, 0, 0.7);

      .letter {
        display: none;
      }
    }
  }

  .letter-list {
    display: block;
    position: absolute;
    width: 100%;
    height: 65%;
    top: 80px;
    left: 0;

    .letter-list__item {
      position: absolute;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 2px #e7e7e7;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      color: #000;
      font-weight: bold;
      font-size: 35px;
      display: inline-block;
      padding: 10px;
      border: 2px solid rgba(0, 0, 0, 0.8);
      user-select: none;
    }
  }
}
