.package-item {
  .package-item-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .package-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #79af24;
    padding: 5px 0;
    font-size: 16px;
    width: 180px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    margin-bottom: 5px;

    &:hover {
      background-color: #5a8418;
    }
  }
}
