.quiz-container {
  width: 100%;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 6px #e1e1e1,
              0 0 8px #e2e2e2,
              0 0 10px #e3e3e3,
              0 0 12px #e5e5e5,
              0 0 14px #e6e6e6,
              0 0 16px #e7e7e7,
              0 0 18px #e8e8e8;

  .quiz-card-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 2px solid #e9e9e9;
    border-radius: 20px;
    height: 165px;
    width: 165px;
    transition: border-color .5s;

    &:hover {
      border: 2px solid #5B841E;
    }

    img {
      max-width: 160px;
      max-height: 160px;
    }
  }

  .quiz-stage-count {
    position: absolute;
    right: 40px;
    bottom: 30px;
    color: #b9b9b9;
    font-family: 'MuseoSans-500';
  }

  .quiz-messages {
    font-size: 50px;
    display: block;

    .wrong-message {
      color: black;
      display: none;
      position: absolute;
    }

    .success-message {
      color: gold;
      display: none;
      position: absolute;
    }
  }

  .score-results {
    display: none;
    color: #b9b9b9;
  }
}

.quiz-info-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .locality-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .correct-word {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'MuseoSans-300';
    text-transform: capitalize;
  }
}

.quiz-images-preload-list {
  visibility: hidden;
  .quiz-image-preload {
    width: 30px;
    height: 30px;
  }
}
