.modes-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  .modes-title {
    color: #9F9898;
    font-size: 20px;
    text-transform: capitalize;
    padding-left: 35px;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  .modes-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 160px;
    background-color: #e9e9e9;
    border: 2px solid #b9b9b9;
    border-radius: 20px;
    padding: 5px 10px;
    font-family: 'MuseoSans-500';
    color: #9f9898;
    cursor: pointer;
    user-select: none;
  }

  .dropdown-menu {
    box-shadow: 0 0 4px #e1e1e1,
                0 0 6px #e2e2e2,
                0 0 8px #e3e3e3,
                0 0 10px #b9b9b9,
                0 0 12px #e6e6e6,
                0 0 14px #e7e7e7,
                0 0 16px #e8e8e8,
                0 0 20px #b9b9b9;
  }

  .modes-list {
    position: relative;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:first-child {
        border-radius: 10px 10px 0 0;
      }
      &:last-child {
        border-radius: 0 0 10px 10px;
      }
      &:hover {
        color: #fff;
        background-color: #5B841E;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 35px;
      padding-left: 28px;
      width: 90%;
      text-decoration: none;
      color: #494848;
      font-family: 'MuseoSans-500';

      &:hover {
        color: #fff;
      }
    }

    .selected {
      background-color: #5B841E;
      color: #fff;
    }
  }
}
