.khmer-card-item {
  .body {
    margin-top: 30%;
    font-size: 80px;
  }

  .number {
    font-size: 30px;
  }
}

.khmer-review-card-body {
  display: flex;
  height: 190px;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  color: #000;
  text-shadow: 0 2px 2px #ccc;
  word-break: break-all;
}

.khmer-number-text {
  font-size: 20px;
  color: gray;
  text-shadow: 0 1px 1px #ccc;
}

.khmer-romanisation-text {
  font-size: 26px;
  color: gray;
  text-shadow: 0 0 1px #fff;
}

.khmer-definition-short {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.khmer-definition-long {
  height: 250px;
  width: 280px;
  border-radius: 30px;
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 2px #ccc;
}

.khmer-definition-card-item {
  height: 380px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
