.translation-dropdown-item {
  margin-left: 5px;
  padding-left: 24px;
}

.translation-list {
  .translation-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    padding-left: 10px;
    border-top: 1px solid #b9b9b9;
    color: #000;
    &:hover {
      background-color: #e1e1e1;
      box-shadow: 0 0 4px #e1e1e1;
    }
  }

  .selected {
    background-color: #e1e1e1;
    box-shadow: 0 0 4px #e1e1e1;
  }
}
