.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  visibility: hidden;
  box-shadow: 0 1px 1px #ccc;
  background-color: coral;
  pointer-events: none;
  z-index: 100;
}

.loader.process {
  visibility: visible;
  animation-duration: 14s;
  animation-name: loader-process;
  animation-fill-mode: forwards;
}

.loader.finish {
  visibility: visible;
  animation-duration: 0.4s;
  animation-name: loader-finish;
}

@keyframes loader-process {
  10% {
    width: 0%;
  }
  20% {
    width: 10%;
  }
  30% {
    width: 15%;
  }
  40% {
    width: 20%;
  }
  50% {
    width: 25%;
  }
  100% {
    width: 80%;
  }
}

@keyframes loader-finish {
  10% {
    width: 90%;
  }
  80% {
    width: 100%;
  }
  100% {
    height: 1px;
  }
}
