<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lyrebird</title>
  <script src="/jquery.min.js"></script>
  <link rel="stylesheet" href="/styles.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <div id="app"></div>

  <script src="/bundle.js"></script>
</body>
</html>
