.localities-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .localities-dropdown-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8px 55px;
    border-radius: 20px;
    font-size: 12px;
    background-color: #5a8418;
    font-family: 'MuseoSans-500';

    &:first-child {
      margin-right: 20px;
      user-select: none;
    }

    .locality-right {
      position: absolute;
      top: 4px;
      right: 5px;
    }

    .locality-left {
      position: absolute;
      top: 4px;
      left: 5px;
    }

    img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
  }

  .localities-list-container {
    display: block;
    height: 500px;
    overflow-x: scroll;

    .localities-list {
      display: flex;
      flex-direction: column;

      .selected {
        background-color: #e1e1e1;
        box-shadow: 0 0 4px #e1e1e1;
      }

      .localities-list__item {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        flex-basis: 50px;
        border-top: 1px solid #e1e1e1;
        color: #7d7d7d;
        font-family: 'MuseoSans-300';
        transition: background-color .2s;
        padding-left: 8px;

        &:hover {
          background-color: #e1e1e1;
        }

        img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          border-radius: 50%;
          box-shadow: 0 0 10px #e8e8e8;
        }
      }
    }
  }
}
