.bingo-quiz-container {
  width: 100%;
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 50px;
  box-shadow: 0 0 6px #e1e1e1,
              0 0 8px #e2e2e2,
              0 0 10px #e3e3e3,
              0 0 12px #e5e5e5,
              0 0 14px #e6e6e6,
              0 0 16px #e7e7e7,
              0 0 18px #e8e8e8;

  .bingo-message {
    display: none;
    position: absolute;
    left: 49%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-size: 185px;
    font-weight: 700;
    font-family: 'MuseoSans-900';
    color: black;
    text-transform: uppercase;
  }

  .bingo-quiz-subcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bingo-quiz-list__menu {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 30px;

      .correct-word {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-family: 'MuseoSans-300';
        text-transform: capitalize;
      }
    }

    .bingo-quiz-list-9 {
      grid-template-columns: 140px 140px 140px;
    }

    .bingo-quiz-list-16 {
      grid-template-columns: 130px 130px 130px 130px;
    }

    .bingo-quiz-list-25 {
      grid-template-columns: 120px 120px 120px 120px 120px;
    }

    .bingo-quiz-list {
      display: grid;
      position: relative;
      .bingo-quiz-list__item {
        display: inline-flex;
        align-items: center;
        padding: 5px;
        justify-content: center;
        text-align: center;
        border-radius: 3px;
        overflow-y: auto;
        height: 130px;
        background-color: #79af24;
        color: #fff;
        font-size: 22px;
        margin: 0 8px 8px 0;
        user-select: none;
        cursor: pointer;
        transition: opacity .3s;
        box-shadow: 0 0 6px #e1e1e1,
                    0 0 8px #e2e2e2,
                    0 0 10px #e3e3e3;

        .messages {
          position: absolute;
          font-size: 50px;

          .remove {
            display: none;
            color: #000;
          }
        }
      }

      .bingo-quiz-list__item-checked {
        background-color: #79af24;
        opacity: .4;

        .messages {
          position: absolute;
          font-size: 50px;

          .star {
            display: block;
            color: #FFD700;
          }
        }
      }
    }
  }
}
