.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #79af24;
  height: 92px;
  margin-bottom: 50px;

  .header-logo {
    margin-top: -30px;
  }

  .header-localities {
    margin-right: 20px;
  }

  .logo-text {
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 28px;
    font-family: 'MuseoSans-700';

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  .logo-image {
    width: 50px;
    height: auto;
  }

  a {
    color: white;
  }

  .navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
