.review-card-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 4px #e1e1e1,
              0 0 6px #e2e2e2,
              0 0 8px #e3e3e3,
              0 0 10px #e5e5e5,
              0 0 12px #e6e6e6,
              0 0 14px #e7e7e7,
              0 0 16px #e8e8e8;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 5px 80px;
  height: 290px;
  font-family: 'MuseoSans-100';
  font-size: 17px;
  font-weight: 600;
  color: #7d7d7d;

  img {
    max-width: 250px;
    max-height: 140px;
    margin-bottom: 10px;
  }
}
