.color-gray {
  color: #aaa;
}

.color-light-gray {
  color: #ccc;
}

.color-red {
  color: #ff0000;
}

.color-dark-red {
  color: #990000;
}

.color-blue {
  color: #0066ff;
}

.color-green {
  color: #00b300;
}

.color-yellow {
  color: #e6e600;
}

.color-pink {
  color: #9933ff;
}

.color-default {
  color: #000;
}
