.font-size-15px {
  font-size: 15px;
}

.font-size-20px {
  font-size: 20px;
}

.font-size-25px {
  font-size: 25px;
}

.font-size-30px {
  font-size: 30px;
}

.font-size-40px {
  font-size: 40px;
}

.font-size-50px {
  font-size: 50px;
}

.font-size-100px {
  font-size: 100px;
}

.font-weight-bold {
  font-weight: bold;
}
