.logo {
  width: 32px;
  height: auto;
  margin-top: -5px;
}

.cursor-pointer {
  cursor: pointer;
}

.locality-play-audio-flag {
  height: 40px;
  width: auto;
  margin: 5px;
}

.locality-image {
  height: 30px;
  width: auto;
  margin: 10px;
}

.locality-image-20px {
  height: 20px;
  width: auto;
  margin: 6px;
}

.display-none {
  display: none;
}
