.index-page-gradient {
  height: 100vh;
  background: #fff;
  background: radial-gradient(#ffffff, #79af24);
}

.index-apps-list {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-app-label {
  max-width: 200px;
  height: auto;
  border-radius: 35px;
  box-shadow: 0 0 2px #ccc, 0 0 4px #ccc, 0 0 20px #fff;
}

.app-description {
  font-size: 26px;
  color: gray;
  text-shadow: 0 1px 2px #fff, 0 0 2px #fff, 0 1px 1px #000, 0 0 20px #fff;
}
