/* Helpers */
@import './helpers/color';
@import './helpers/font';
@import './helpers/general';

@font-face {
  font-family: 'MuseoSans-100';
  src: url('../../public/static/resources/fonts/MuseoSans-100.otf') format('opentype');
}

@font-face {
  font-family: 'MuseoSans-300';
  src: url('../../public/static/resources/fonts/MuseoSans-300.otf') format('opentype');
}

@font-face {
  font-family: 'MuseoSans-500';
  src: url('../../public/static/resources/fonts/MuseoSans_500.otf') format('opentype');
}

@font-face {
  font-family: 'MuseoSans-700';
  src: url('../../public/static/resources/fonts/MuseoSans_700.otf') format('opentype');
}

@font-face {
  font-family: 'MuseoSans-900';
  src: url('../../public/static/resources/fonts/MuseoSans_900.otf') format('opentype');
}

body {
  background-color: #e9e9e9;
  font-family: 'MuseoSans-300';
}

.dropdown-menu {
  margin-top: 15px;
  border: none;
  border-radius: 20px;
}

.triangle {
  position: absolute;
  top: -15px;
  right: 40%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
}

.navbar-link {
  margin-top: 25px;
  margin-left: 20px;
}

.image-voice {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 15px;
  img {
    width: 25px;
    height: auto;
    &:hover {
      opacity: .8;
    }
  }
}
