.settings-container {
  display: block;
  right: -70px !important;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  box-shadow: none;

  .user-info-container {
    margin-top: 20px;
    .user-info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user-photo {
        width: 50px;
        height: 50px;
        border-radius: 10px;
      }
    }
  }


  .settings-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #717070;

    .settings-button-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 6px;

      .settings-button {
        display: inline-flex;
        cursor: pointer;
        margin-right: 4px;
        align-items: center;
        justify-content: center;
        border: 2px solid #6D951A;
        border-radius: 50%;
        width: 15px;
        height: 15px;
      }

      .settings-button-selected {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #6D951A;
      }
    }
  }

  .settings-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .settings-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 22px;
    margin-bottom: 8px;
  }

  .quiz-settings-container {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    .quiz-settings-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 22px;
      width: 100%;
      margin-bottom: 8px;
    }

    .quiz-settings {
      display: flex;
      width: 254px;
      flex-direction: column;
      color: #717070;

      .quiz-settings-item {
        display: flex;
        margin-bottom: 10px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.settings-link {
  cursor: pointer;
  margin-right: 20px;
  padding-left: 27px;
}

/* Audio settings */
.audio-settings-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.audio-settings-switch input {
  display: none;
}

.audio-settings-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
}

.audio-settings-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
}

input:checked + .audio-settings-slider {
  background-color: #6D951A;
}

input:focus + .audio-settings-slider {
  box-shadow: 0 0 1px #6D951A;
}

input:checked + .audio-settings-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
