.packages-container {
  .package-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 4px #e1e1e1,
                0 0 6px #e2e2e2,
                0 0 8px #e3e3e3,
                0 0 10px #e5e5e5,
                0 0 12px #e6e6e6,
                0 0 14px #e7e7e7,
                0 0 16px #e8e8e8;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 20px 5px;
    height: 290px;
    font-family: 'MuseoSans-100';
    font-size: 17px;
    font-weight: 600;
    color: #7d7d7d;
    cursor: pointer;
    transition: background-color 2s;

    &:hover {
      background-color: #fcfcfc;
    }

    .package-locality {
      width: 30px;
      height: auto;
    }

    .locality-translation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      img {
        margin-right: 10px;
        box-shadow: 0 0 4px #e6e6e6, 0 0 6px #e6e6e6;
      }
    }

    img {
      height: auto;
      max-height: 290px;
      width: auto;
      max-width: 290px;
      border-radius: 20px;
    }
  }
}
