.carousel-gallery {
  position: relative;
  height: 450px;
  border-radius: 20px;
  margin-bottom: 35px;
  box-shadow: 0 0 6px #e1e1e1,
              0 0 8px #e2e2e2,
              0 0 10px #e3e3e3,
              0 0 12px #e5e5e5,
              0 0 14px #e6e6e6,
              0 0 16px #e7e7e7,
              0 0 18px #e8e8e8;

  .slide {
    display: flex;
    padding: 20px 0;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    background-color: #fff;
    font-size: 50px;

    img.slide-image {
      width: auto;
      height: auto;
      max-width: 300px;
      max-height: 300px;
    }
  }

  .slide-buttons {
    div {
      position: absolute;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 40px;
      font-size: 16px;
      background-color: #82B81F;
      color: #fff;
      font-family: 'MuseoSans-500';
      cursor: pointer;
      user-select: none;
    }

    .back {
      left: 0;
      top: 45%;
      border-radius: 0 18px 18px 0;
    }

    .next {
      right: 0;
      top: 45%;
      border-radius: 18px 0 0 18px;
    }
  }

  .slide-language {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #7d7d7d;
    font-size: 17px;
    text-transform: capitalize;

    .locality-image {
      width: 40px;
      max-width: 40px;
      height: auto;
      max-height: 40px;
    }

    .audio-image {
      width: 25px;
      height: 25px;
      margin-left: 20px;
      cursor: pointer;

      img {
        width: 25px;
        height: auto;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

.carousel-cards-list {
  display: flex;
  overflow-y: scroll;

  .carousel-card-list-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 30px;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 6px #e1e1e1,
                0 0 8px #e2e2e2,
                0 0 10px #e3e3e3,
                0 0 12px #e5e5e5,
                0 0 14px #e6e6e6,
                0 0 16px #e7e7e7,
                0 0 18px #e8e8e8;

    img {
      max-width: 120px;
      max-height: 120px;
      user-select: none;
    }

    &:hover {
      cursor: pointer;
    }

    &.selected {
      border: 2px solid #5B841E;
    }
  }
}
